@model SV22T1020193.Models.Partner.Supplier

@{
    bool isEdit = Model != null && Model.SupplierID > 0;
    var provinces = ViewBag.Provinces as List<SV22T1020193.Models.DataDictionary.Province>;
}

@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i> Lưu
    </button>

    <a href="~/Supplier" class="btn btn-secondary">
        Quay lại
    </a>
}

<div class="card">
    <div class="card-body">
        <form id="formEdit" method="post"
              asp-action="@(isEdit ? "Edit" : "Create")">

            @if (isEdit)
            {
                <input type="hidden" asp-for="SupplierID" />
            }

            <div class="mb-3">
                <label>Tên nhà cung cấp</label>
                <input asp-for="SupplierName" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Tên giao dịch</label>
                <input asp-for="ContactName" class="form-control" />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Điện thoại</label>
                    <input asp-for="Phone" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="mb-3 mt-3">
                <label>Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Tỉnh / Thành</label>
                <select asp-for="Province" class="form-select">
                    <option value="">-- Chọn tỉnh / thành --</option>

                    @if (provinces != null)
                    {
                        foreach (var p in provinces)
                        {
                            <option value="@p.ProvinceName">
                                @p.ProvinceName
                            </option>
                        }
                    }
                </select>
            </div>

        </form>
    </div>
</div>