@model SV22T1020193.Models.Partner.Supplier

@section PageToolBar {
    <button type="submit" form="formDelete" class="btn btn-danger">
        Xóa
    </button>

    <a href="~/Supplier" class="btn btn-secondary">
        Quay lại
    </a>
}

<div class="card card-danger">
    <div class="card-body">

        <form id="formDelete" method="post">
            <input type="hidden" asp-for="SupplierID" />

            <p>Bạn có chắc muốn xóa nhà cung cấp này?</p>

            <dl class="row">
                <dt class="col-4">Tên</dt>
                <dd class="col-8">@Model.SupplierName</dd>

                <dt class="col-4">Liên hệ</dt>
                <dd class="col-8">@Model.ContactName</dd>

                <dt class="col-4">Điện thoại</dt>
                <dd class="col-8">@Model.Phone</dd>

                <dt class="col-4">Email</dt>
                <dd class="col-8">@Model.Email</dd>
            </dl>
        </form>

    </div>
</div>