<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LiteCommerce | Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AdminLTE + Bootstrap -->
    <link rel="stylesheet" href="~/lib/overlay-scrollbars/overlayscrollbars.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css">
</head>

<body class="login-page bg-body-tertiary">

    <div class="login-box">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <script src="~/lib/overlay-scrollbars/overlayscrollbars.browser.es6.min.js"></script>
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/adminlte/js/adminlte.js"></script>

</body>
</html>
