@using SV22T1020193.Models.HR
@{
    var emp = ViewBag.Employee as Employee;
}

@section PageToolBar {
    <button type="submit" form="formChangePassword" class="btn btn-primary">
        Đổi mật khẩu
    </button>
    <a href="~/Employee" class="btn btn-secondary ms-1">Quay lại</a>
}

@if (emp == null)
{
    <div class="alert alert-danger">Không tìm thấy nhân viên</div>
}
else
{
    <form id="formChangePassword"
          method="post"
          action="~/Employee/ChangePassword/@emp.EmployeeID">

        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label>Mật khẩu mới</label>
            <input type="password" name="newPassword" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Xác nhận</label>
            <input type="password" name="confirmPassword" class="form-control" />
        </div>
    </form>
}