@using SV22T1020193.Models.HR
@{
    var emp = ViewBag.Employee as Employee;
}

@section PageToolBar {
    <button type="submit" form="formRole" class="btn btn-primary">
        Lưu quyền
    </button>
    <a href="~/Employee" class="btn btn-secondary ms-1">Quay lại</a>
}

@if (emp == null)
{
    <div class="alert alert-danger">Không tìm thấy nhân viên</div>
}
else
{
    <form id="formRole" method="post" action="~/Employee/ChangeRole/@emp.EmployeeID">

        <p><strong>@emp.FullName</strong> - @emp.Email</p>

        <div class="form-check">
            <input type="checkbox" name="roles" value="Admin" /> Admin
        </div>

        <div class="form-check">
            <input type="checkbox" name="roles" value="Sale" /> Sale
        </div>

        <div class="form-check">
            <input type="checkbox" name="roles" value="Warehouse" /> Kho
        </div>

    </form>
}