@model SV22T1020193.Models.Partner.Shipper

@section PageToolBar {
    <button type="submit" form="formDelete" class="btn btn-danger">
        Xóa
    </button>

    <a href="~/Shipper" class="btn btn-secondary">
        Quay lại
    </a>
}

<div class="card card-danger">
    <div class="card-body">
        <form id="formDelete" method="post">

            <input type="hidden" asp-for="ShipperID" />

            <p>Bạn có chắc muốn xóa?</p>

            <dl class="row">
                <dt class="col-4">Tên</dt>
                <dd class="col-8">@Model.ShipperName</dd>

                <dt class="col-4">Điện thoại</dt>
                <dd class="col-8">@Model.Phone</dd>
            </dl>

        </form>
    </div>
</div>